@font-face {
    font-family: "Montserrat Black";
    src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Bold",sans-serif;
    font-size: 16px;

}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul,li {
    display: block;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background-color: rgb(169, 236, 169);
    padding: 25px;
    padding-bottom: 40px;
}

header a {
    margin-left: 160px;
}

.logo {
    margin-right: 130;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu li {
    margin-right: 40px;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #040404;
}

.name {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Roboto Black",sans-serif;
    text-align: center;
}

/* для выделения блока О компании */
.about {
    background-color: antiquewhite; 
    margin-top: 16px;

}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    margin: 20px 0;
    font-size: 25px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 180px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.feedback {
    margin-bottom: 16px;
}

.feedback h3 {
    font-family: "Montserrat Bold",sans-serif;
    font-size: 20px;
    margin-bottom: 16px;
  
}

.feedback h4 {
    font-family: "Montseratt Bold",sans-serif;

}

.feedback p {
    font-family: "Montserrat Regular",sans-serif;
    font-size: 16px;

}

input[type=date], select {
    width: 585px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=numbers], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .search {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 16px;
  }

  .search h2 {
    margin-bottom: 16px;
    text-align: center;
  }

  .search-content {
    display: flex;
    justify-content: space-between;
  }

  .search-content img {
    width: 560px;

  }

  .right {
    float: right;
    padding: 0 20px 20px 0;
    margin: 0 10px;
 }

 .column1 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 190px /* Should be removed. Only for demonstration */
}

.column1 img {
    width: 335px;
}

.column2 {
    float: left;
    width: 70%;
    padding: 10px;
    height: 190px
}

.column2 p {
    height: 190px;
	overflow: hidden;
    color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, #000, #000, rgba(0, 0, 0, 0));
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


